.wrapper {
  max-width: 1440px;
  margin: 10px 146px 10px 146px;
}
@media (max-width: 720px) {
  .wrapper {
    margin: 10px 20px 10px 20px;
  }
}
.header {
  margin-bottom: 825px;
}
.container {
  width: 625px;
  height: 625px;
  background-color: rgba(224, 223, 223, 0.877);
}
.object {
  min-height: 620px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30% 30% 7% 1fr 1fr;
}
.object__big-circle {
  grid-area: 1 / 1 / 3 / 3;
  background: 115% 113% no-repeat url("img/green-circle.png");
  background-size: 137%;
}
.object__traingle {
  grid-area: 1 / 3 / 2 / 6;
  justify-self: flex-end;
}
.figure-traingle {
  width: 0;
	height: 0;
	border-bottom: 170px solid rgba(255, 0, 0, 0.829); 
	border-left: 157px solid transparent;
}
.object__small-circle {
  grid-area: 2 / 3 / 3 / 5;
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 3;
}
.figure-small-circle {
  width: 156px;
  height: 156px;
	background: rgb(48, 143, 84);
	-moz-border-radius: 100px; 
	-webkit-border-radius: 100px;
	border-radius: 100px;
  margin: 0px 41px 3px 0px;
}
.object__rectangle {
  grid-area: 2 / 2 / 4 / 6;
  align-self: center;
  justify-self: end;
  z-index: 2;
}
.figure-rectangle {
  width: 548px;
  height: 72px;
  margin: 0px 18px 0px 0px;
  background-color: rgb(24, 24, 173);
  transform: rotate(47deg);
}
.object__rectangle-oval {
  grid-area: 4 / 1 / 6 / 6;
  justify-self: center;
  align-self: flex-start;
  z-index: 3;
}
.figure-rectangle-oval {
  width: 469px;
  height: 125px;
  background-color: rgb(174, 9, 189);
  -moz-border-radius: 47px;
	-webkit-border-radius: 47px;
  border-radius: 47px;
  margin: 5px 0px 0px 0px;
}
